body{
    font-size: 200px;
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    text-align: center;
    flex-wrap: wrap;
}

header{
    background-color: darkkhaki;

}

nav{
}

main{
    float: right;
}

footer{
}

#picspage{
    background-color: lightpink;
}
p{
    font-size: 100px;
    color: yellowgreen;
}