body{
    font-size: 200px;
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    text-align: center;
    flex-wrap: wrap;
}

header{
    background-color: darkkhaki;

}

nav{
    background-color: crimson;
}

main{
    float: right;
}

footer{
    transform-style: preserve-3d;
}

#picspage{
    background-color: lightpink;
}
<<<<<<< HEAD

.bitcharoo{
    float: right;
}
=======
p{
    font-size: 100px;
    color: yellowgreen;
}
>>>>>>> origin/master
