body{
    font-size: 200px;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    text-align: center;
    flex-wrap: wrap;
}

head{
    font-size: 50px;
}

header{
    background-color: dimgray;
    font-size: 100px;
}

nav{
    font-size: 50px;
}

main{
    float: right;
}

footer{
    font-size:90px;
}

#picspage{
    background-color: lightpink;
}

.bitcharoo{
    float: right;
}
p{
    font-size: 100px;
    color: black;
    font-style: italic;
}

.hamster{
    display: none;
}
