body{
    background-color: cornsilk;
}
header{
    background-color: cadetblue;
}
nav{
    background-color: darkseagreen;
}
content{
    background-color: deepskyblue;
}
footer{
    background-color: darkmagenta;
}