body{
    background-color: cornsilk;
}
header{
    background-color: cadetblue;
    border-radius: 20px;
}
nav{
    background-color: darkseagreen;
}
content{
    background-color: deepskyblue;
    font-size: 30px;
    border-radius: 20px;
}
footer{
    background-color: darkmagenta;
    border-radius: 30px;
    text-align: center;
}