body{
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
}
header{
    background-color: burlywood;
    font-size: 20px;
    border-radius: 20px;
}
main{
    background-color: darkkhaki;
    font-size: 15px;
    border-radius: 20px;
}
footer{
    background-color: chocolate;
    font-size: 20px;
    border-radius: 20px;
}